<div class="tought-form-container">
  <a href="/toughts/dashboard">Voltar</a>
    <h1>Cadastrar Item:</h1>
    <form action="/toughts/add" method="POST">
        <div class="form-control">
            <label for="title">Nome do Item:</label>
            <input type="text" name="title" placeholder="Ex: Cadeira de escritório, Monitor Dell...">
        </div>
        <input type="submit" value="Adicionar">
    </form>
</div>